*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    display: flex;
    max-height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
body {
    background-color: rgb(29, 29, 29);
}