*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    display: flex;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    font-size: 50px;
}

#bttn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

Button {
    color: black;
    background-color: tomato;
    padding: 4px 6px;
    margin: 4px 10px;
    font-size: 20px;
}